<form action="/gratitude" method="post">
  <input type="date" name="date">
  <input type="text" name="things">
  <input type="text" name="things">
  <input type="text" name="things">
  <input type="submit">
</form>
