<form action="/gratitude" method="post">
  <div><label for="date">Date: </label><input type="date" name="date" id="date"></div>
  <div><input type="text" name="things[]"></div>
  <div><input type="text" name="things[]"></div>
  <div><input type="text" name="things[]"></div>
  <input type="submit">
</form>
